django==4.2.9
django-admin-interface
django-colorfield
easy-thumbnails
django-tinymce
django-import-export
django-crispy-forms
crispy-bootstrap5
django-tables2
django-filter
django-registration-redux
django-extensions
django_compressor
python-decouple
django-user-sessions
psycopg2-binary
celery[redis]
django-celery-beat
django-celery-results
redis
djangorestframework
drf-spectacular
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
shopify
Pillow
