{% extends 'app/base.html' %} {% load static i18n crispy_forms_tags %} 
{% block title %}{{title}}: {{app_settings.site_title}}{% endblock %} 

{% block extra_css %} 
<style>
.bg-gray2 {
  /* background-color: #f5f5f5; */
  background: aliceblue;
}
.hid_row .form-control{
  background-color: #f1f1f1;
}
</style>
{% endblock extra_css %} 

{% block javascript %} 
{{form.media}} 
{% endblock javascript %} 

{% block content %}

<div class="side-app main-container  mt-5">
  <div class="page-header d-xl-flex">
    <div class="page-leftheader">
        <div class="page-title">{{title}}</div>
    </div>
</div>
  <div class="row">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
      <div class="">
        
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <form
                class="form-horizontal-3"
                method="post"
                autocomplete="off"
                enctype="multipart/form-data"
                action=""
              >
                {% csrf_token %}
                 {% if not is_update %}
                {% include 'app/partials/channels.html' %}
                {% endif %}
                <div class="row">
                {{form.phone_no|as_crispy_field}}
                {{form.customer_name|as_crispy_field}}
                {{form.pincode|as_crispy_field}}
                {{form.address|as_crispy_field}}
                {{form.city|as_crispy_field}}
                {{form.state|as_crispy_field}}
                {{form.country|as_crispy_field}}
                {{form.alternate_phone_no|as_crispy_field}}
                {{form.utr|as_crispy_field}}
                {{form.account|as_crispy_field}}
                {{form.order_by|as_crispy_field}}
               <div class="mb-3 col-lg-4 col-md-4 col-sm-6 col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary mt-5 btn-add w-50">Add Address</button>
               </div>
                </div>
                <div class=" hid_row p-3">
                  <div class="card m-0">
                    <div class="card-title m-0 text-center p-3 border-bottom">
                      <h5 class="mb-0">Secondery Address</h5>
                    </div>
                    <div class="card-body p-3 row">
                    {{form.name_2|as_crispy_field}}
                    {{form.pincode_2|as_crispy_field}}
                    {{form.address_2|as_crispy_field}}
                    {{form.city_2|as_crispy_field}}
                    {{form.state_2|as_crispy_field}}
                    {{form.country_2|as_crispy_field}}
                    </div>
                  </div>

                </div>
                
                {{ form.errors }}
                {{ order_item_formset.management_form }}
                <table class="table table-bordered my-4">
                  <thead>
                    <tr>
                      <th style="width: 50%;">Item</th>
                      <th style="width: 20%;">Price</th>
                      <th style="width: 10%;">Quantity</th>
                      <th style="width: 20%;">Amount(&#8377;)</th>
                      <th ></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for form in order_item_formset.forms %}
                    <tr class="order_item_formset_row">
                      {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                      {% endfor %}
                      <td class="p-0">
                          {{ form.product }}
                          {{ form.product.errors }}
                      </td>
                      
                      <td class="p-0">
                          {{ form.price }}
                          {{ form.price.errors }}
                      </td>
                     
                      <td class="p-0">
                        <span class="w-70">{{ form.quantity }}</span>
                        <span class="d-none item-unit"></span>
                        {{ form.quantity.errors }}
                      </td>
                        
                      </td>
                      <td class="p-0">
                          {{ form.amount }}
                          {{ form.amount.errors }}
                      </td>
                      <td style="vertical-align: middle;" class="p-0 text-center">{{ form.DELETE }}</td>
                  </tr>
                    {% endfor %}
                    {% if type == 'WhatsApp_COD' %}
                    
                  </tbody>
                  <tfoot class="">
                    <tr>
                      <td colspan="3" class="text-end">Cod Charge</td>
                      <td  class="text-start ">{{form.cod_charge}}</td>
                    </tr>
                    {% endif %}
                    <tr class="subtotal bg-primary">
                      <td colspan="3" class="text-end font-weight-bold fs-6">Subtotal</td>
                      <td colspan="2">₹ <span class="amount-total font-weight-bold fs-6">{{ form.total_amount|as_crispy_field }}</span></td>
                    </tr>
                  </tfoot>
                </table>
                {{ form.total_amount|as_crispy_field }}
                <div class="row my-2">
                  <div class="mb-3">
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary me-2">
                        {% translate "Save" %}
                      </button>
                      <button
                        type="button"
                        onclick="history.back()"
                        class="border btn btn-outline-info"
                      >
                        {% translate "Cancel" %}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block js_plugins %}

<script src="{% static 'app/js/formset/formset.js' %}"></script>
<script>$('#id_order_item_formset-0-product').attr('required', true);</script>
<script>
  $('.hid_row, #div_id_total_amount').hide();
  $('.btn-add').click(function () {
    $('.hid_row').toggle();
  });
  $(document).ready(function () {
    $('#div_id_utr').hide();
    var type = '{{type}}'
    if (type == 'WhatsApp') {
        $('#div_id_utr').show();
        $('#id_utr').attr('required', true);
        $("#id_utr")
          .siblings("label")
          .append('<span class="asteriskField">*</span>');
    }
   
    // Initialize formset for sale items
    $('.order_item_formset_row').formset({
        addText: '<span>Add Item</span>',
        deleteText: '<i class="fa-solid fa-xmark"></i>',
        prefix: '{{ order_item_formset.prefix }}',
        formCssClass: 'order_item_formset_row',
        added: function (row) {
            // Trigger subtotal update or any other initialization needed for the new row
            UpdateSubTotal();
            row.find('.item-select').select2({
                minimumResultsForSearch: "",
                placeholder: "Search",
                width: "100%",
                allowClear: true
            });
        },
        removed: function (row) {
            UpdateSubTotal();
        }
    });


    // Delegate event handling to document for dynamically added elements
    $(document).on('change', '#id_cod_charge', function () {
      UpdateSubTotal();
    });
    $(document).on('change', '.item-select, .quantity-input, .unit-price-input', function () {
      var row = $(this).closest('.order_item_formset_row');

      var requestData = {
          itemId: row.find('.item-select').val(),
          quantity: row.find('.quantity-input').val(),
          price: row.find('.unit-price-input').val(),
          type: type
      };
      
      fetchAndUpdateItemDetails(requestData, row);
    });

  function updateSaleItemFormSetRow(row, data) {
      row.find('.unit-price-input').val(data.price);
      row.find('.quantity-input').val(data.quantity);
      row.find('.line_total-input').val(data.line_total);
      UpdateSubTotal();
  }

  function fetchAndUpdateItemDetails(requestData, row) {
      $.ajax({
          url: "{% url 'master:get_item_details' %}",
          method: 'GET',
          data: requestData,
          success: function(data) {
              updateSaleItemFormSetRow(row, data);
          },
          error: function(xhr, status, error) {
              console.error('AJAX Error:', error);
          }
      });
  }
    // Initial update subtotal call to calculate values on page load
    UpdateSubTotal();
    function UpdateSubTotal() {
    var amountTotal = 0;
    var cod = $('#id_cod_charge').val() || 0;
    amountTotal += parseFloat(cod);
    // Calculate totals from   each sale item row
    $('.order_item_formset_row').each(function () {
        var row = $(this);
        var quantity = parseFloat(row.find('.quantity-input').val()) || 0;
        var unit_price = parseFloat(row.find('.unit-price-input').val()) || 0;
        var line_total = parseFloat(row.find('.line_total-input').val()) || 0;

        amountTotal += (unit_price * quantity); 
    });
    
    // Update the DOM elements with the calculated values
    $('.amount-total').text(amountTotal.toFixed(2));
    $('#id_total_amount').val(amountTotal.toFixed(2));
}
});
</script>
<script>
  function validatePhoneInput(inputField) {
        let input = inputField.val().replace(/\D/g, ''); // Remove non-numeric characters
        input = input.substring(0, 10); // Limit to 10 digits
        inputField.val(input); // Update input field
    }

    function validateOnSubmit(event) {
        let phoneNo = $("#id_phone_no").val();
        let altPhoneNo = $("#id_alternate_phone_no").val();

        if (phoneNo.length !== 10) {
            alert("Phone number must be exactly 10 digits.");
            event.preventDefault();
        }

        if (altPhoneNo.length > 0 && altPhoneNo.length !== 10) {
            alert("Alternate phone number must be exactly 10 digits.");
            event.preventDefault();
        }
    }

    $("#id_phone_no, #id_alternate_phone_no").on("input", function () {
        validatePhoneInput($(this));
    });

    $("form").on("submit", function (event) {
        validateOnSubmit(event);
    });

  </script>
  
  
<script>
  $('.btn-add').hide(); 
  $('#id_phone_no').change(function () {
    var phoneNumber = $(this).val();
    $.ajax({
      url: "{% url 'master:get_customer_details' %}",
      method: 'GET',
      data: {
        'phone_number': phoneNumber
      },
      success: function (data) {
        console.log(data)
        if(data.is_true){
          $('#id_customer_name').val(data.customer_name);
          $('#id_alternate_phone_no').val(data.alternate_phone_no);
          $('#id_pincode').val(data.pincode);
          $('#id_address').val(data.address);
          $('#id_city').val(data.city);
          $('#id_state').val(data.state);
          $('#id_country').val(data.country);
          $('.btn-add').show(); 
        }
         
      }
    })
  })
</script>


<script>
    $(document).ready(function () {
        $('#id_pincode').on('change', function () {
            var pincode = $(this).val();
            if (pincode.length === 6) {  // Assuming Indian Pincode (6-digit)
                $.ajax({
                    url: `https://api.postalpincode.in/pincode/${pincode}`,
                    type: "GET",
                    success: function (response) {
                        if (response[0].Status === "Success") {
                            var data = response[0].PostOffice[0];
                            $('#id_city').val(data.District);
                            $('#id_state').val(data.State);
                            $('#id_country').val(data.Country);
                        } else {
                            alert("Invalid Pincode! Please enter a valid one.");
                        }
                    },
                    error: function () {
                        alert("Error fetching details. Try again.");
                    }
                });
            }
        });
        $('#id_pincode_2').on('change', function () {
            var pincode = $(this).val();
            if (pincode.length === 6) {  // Assuming Indian Pincode (6-digit)
                $.ajax({
                    url: `https://api.postalpincode.in/pincode/${pincode}`,
                    type: "GET",
                    success: function (response) {
                        if (response[0].Status === "Success") {
                            var data = response[0].PostOffice[0];
                            $('#id_city_2').val(data.District);
                            $('#id_state_2').val(data.State);
                            $('#id_country_2').val(data.Country);
                        } else {
                            alert("Invalid Pincode! Please enter a valid one.");
                        }
                    },
                    error: function () {
                        alert("Error fetching details. Try again.");
                    }
                });
            }
        });
    });
</script>

{% endblock js_plugins %}