{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags django_tables2 extras  humanize%}
{% block title %}Home: {{app_settings.site_title}}{% endblock %}

{% block content %}

<div class="side-app main-container">

    <div class="page-header d-xl-flex">
        <div class="page-leftheader">
            <div class="page-title">{% translate "Main Dashboard" %}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12"> 
            <div class="card custom-card bg-gradient-teal "> 
                <div class="card-body"> 
                    <div class="row"> 
                        <div class="col-8"> 
                            <div class="mt-0 text-start"> 
                                <span class="fs-14 fw-medium text-white"> <b>Total Revenue</b></span> 
                                <h3 class="mb-0 mt-1 mb-2 text-white "><b>{{total_sale|intcomma}}</b></h3> 
                            </div> 
                        </div>
                        <div class="col-4"> <div class="icon1 bg-white my-auto  float-end"> <i class="fe fe-dollar-sign text-success"></i> </div> </div>
                        
                    </div> 
                </div> 
            </div> 
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-12"> 
            <div class="card custom-card bg-gradient-primary "> 
                <div class="card-body"> 
                    <div class="row"> 
                        <div class="col-8"> 
                            <div class="mt-0 text-start"> 
                                <span class="fs-14 fw-medium text-white"> <b>Total Orders</b></span> 
                                <h3 class="mb-0 mt-1 mb-2 text-white "><b>{{orders}}</b></h3> 
                                
                            </div> 
                        </div>
                        <div class="col-4"> <div class="icon1 bg-white my-auto  float-end"> <i class="fe  fe-shopping-bag text-primary"></i> </div> </div>
                    </div> 
                </div> 
            </div> 
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12"> 
            <div class="card custom-card bg-gradient-warning "> 
                <div class="card-body"> 
                    <div class="row"> 
                        <div class="col-8"> 
                            <div class="mt-0 text-start"> 
                                <span class="fs-14 fw-medium text-white"> <b>CUSTOMERS</b></span> 
                                <h3 class="mb-0 mt-1 mb-2 text-white "><b>{{customers}}</b></h3> 
                                
                            </div> 
                        </div>
                        <div class="col-4"> <div class="icon1 bg-white my-auto  float-end"> <i class="fe fe-users text-warning"></i> </div> </div>
                    </div>
                    
                </div> 
            </div> 
        </div>
        
        {% include 'app/partials/channels.html' %}
        <div class="col-md-12">
            <div class="card custom-card  ">
                <div id="REVENUE_BY_CHANNEL"></div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card custom-card  ">
                <div id="ORDER_BY_time"></div>
            </div>
        </div>
        <div class="col-md-12">
          <div class="card custom-card  ">
              <div id="Weekly_chart"></div>
          </div>
        </div>
    </div>
</div>

{% include 'app/partials/data_table.html' %}
{% include 'app/partials/apexchart.html' %}
{% include 'app/partials/help.html' %}
{% endblock content %}

{% block js_plugins %}
<script>
    var options = {
        series: [{
            name: "Revenue",  // Updated series name
            type: 'column',
            data: {{revenue_by_channel}}
        },{
          name: 'Order',
          type: 'line',
          data: {{order_by_channels}}
        }],
            chart: {
            height: 350,
            type: 'line',
        },
        stroke: {
          width: [0, 4]
        },
        title: {
            text: "Channel Sources",
            // align: "center",
            // style: {
            //     fontSize: '16px',
            //     fontWeight: 'bold'
            // }
        },dataLabels: {
          enabled: true,
          enabledOnSeries: [1]
        },
        
        labels:  ['WhatsApp', 'COD', 'Swiggy', 'Kumar', 'Wholesale', 'Promo', 'Counter', 'Return/Replace'],
        yaxis: [{
          title: {
            text: 'Revenue By Channels',
          },
        
        }, {
          opposite: true,
          title: {
            text: 'Order By Channels'
          }
        }]
    };

    var chart = new ApexCharts(document.querySelector("#REVENUE_BY_CHANNEL"), options);
    chart.render();
</script>
<script>
    var options = {
          series: [{
            name: "Today",
            data: {{today_order_counts}}
          },
          {
            name: "Yesterday",
            data:  {{yesterday_order_counts}}
          }
        ],
          chart: {
          height: 350,
          type: 'line',
          zoom: {
            enabled: false
          },
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: [5, 7],
          curve: 'straight',
          dashArray: [0,5]
        },
        title: {
          text: 'Average Session Duration',
          align: 'left'
        },
        legend: {
          tooltipHoverFormatter: function(val, opts) {
            return val + ' - <strong>' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + '</strong>'
          }
        },
        markers: {
          size: 0,
          hover: {
            sizeOffset: 6
          }
        },
        xaxis: {
          categories: ['8:00AM', '9:00AM', '10:00AM','11:00PM', '12:00PM', '01:00PM', '02:00PM', '03:00PM', '04:00PM', '05:00PM', '06:00PM', '07:00PM', '08:00PM', '09:00PM', '10:00PM', '11:00PM'
          ],
        },
        tooltip: {
          y: [
            {
              title: {
                formatter: function (val) {
                  return val + " per Order"
                }
              }
            },
            {
              title: {
                formatter: function (val) {
                  return val + " per Order"
                }
              }
            },
            {
              title: {
                formatter: function (val) {
                  return val;
                }
              }
            }
          ]
        },
        grid: {
          borderColor: '#f1f1f1',
        }
        };

        var chart = new ApexCharts(document.querySelector("#ORDER_BY_time"), options);
        chart.render();
</script>
<script>
  const last7Days = [...Array(12)].map((_, i) => {
    const d = new Date();
    d.setUTCDate(d.getUTCDate() - i); // Get today and last 6 days
    return d.toLocaleDateString('en-CA', { timeZone: 'Asia/Kolkata' }).split('T')[0] + ' GMT'; // Format as 'YYYY-MM-DD GMT'
}).reverse(); // Reverse to maintain chronological order

  var options = {
          series: [{
          name: 'WhatsApp',
          data: {{WhatsApp_data}}
        }, {
          name: 'COD',
          data: {{WhatsApp_COD_data}}
        }, {
          name: 'Swiggy',
          data: {{Swiggy_data}}
        }, {
          name: 'Kumar',
          data: {{Kumar_data}}
        },
        {
          name: 'Wholesale',
          data: {{Wholesale_data}}
        },
        {
          name: 'Promo',
          data: {{Promo_data}}
        },
        {
          name: 'Counter',
          data: {{Counter_data}}
        },
        {
          name: 'Return/Replace',
          data: {{Return_or_Replace_data}}
        }
      ],
          chart: {
          type: 'bar',
          height: 350,
          stacked: true,
          toolbar: {
            show: true
          },
          zoom: {
            enabled: true
          }
        },
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
              position: 'bottom',
              offsetX: -10,
              offsetY: 0
            }
          }
        }],
        plotOptions: {
          bar: {
            horizontal: false,
            borderRadius: 10,
            borderRadiusApplication: 'end', // 'around', 'end'
            borderRadiusWhenStacked: 'last', // 'all', 'last'
            dataLabels: {
              total: {
                enabled: true,
                style: {
                  fontSize: '13px',
                  fontWeight: 900
                }
              }
            }
          },
        },
        xaxis: {
          type: 'datetime',
          categories: last7Days,
        },
        legend: {
          position: 'right',
          offsetY: 40
        },
        fill: {
          opacity: 1
        }
        };

        var chart = new ApexCharts(document.querySelector("#Weekly_chart"), options);
        chart.render();
</script>
{% endblock %}

