{% extends 'modern_base.html' %}

{% block content %}
<div class="page-header">
    <h1 class="h3">{{ title }}</h1>
    <div>
        {% if object.get_update_url %}
        <a href="{{ object.get_update_url }}" class="btn btn-outline-primary">
            <i class="fas fa-edit me-2"></i>Edit
        </a>
        {% endif %}
        {% if object.get_delete_url %}
        <a href="{{ object.get_delete_url }}" class="btn btn-outline-danger">
            <i class="fas fa-trash me-2"></i>Delete
        </a>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-body">
        {% block detail_content %}
        <dl class="row">
            {% for field in object._meta.fields %}
            {% if field.name not in 'id,created,updated,is_active,password' %}
            <dt class="col-sm-3">{{ field.verbose_name|capfirst }}</dt>
            <dd class="col-sm-9">{{ object|getattribute:field.name|default:'-' }}</dd>
            {% endif %}
            {% endfor %}
        </dl>
        {% endblock %}
    </div>
</div>
{% endblock %}
